{% extends 'header.html' %}
{% block con %}
{% load mathfilters %}
<div align="left" style=" margin-left: 1%;">
    <table class="table table-bordered" border="0" style="width: 60%;">
        <tr>
            <th  class="btd" style="width: 25%">작성자 : </th>
            <td  class="btd" style="width: 25%">{{ boardobj.writerops.nickname }}</td>
            <th  class="btd" style="width: 25%">작성일자 : </th>
            <td  class="btd" style="width: 25%">{{ boardobj.credate }}</td>
        </tr>   
        <tr>
            <th>제목 :</th>
            <td class="btd" colspan="2" >{{ boardobj.name }}</td>
            <td>        
                {% if ablelikey == "T" %}
                    <input class="btn  btn-outline-warning" type="button" value="Likey" style="width: 250px;" onclick="golikey()">
                {% elif ablelikey == "F" %}
                    <input class="btn  btn-outline-danger" type="button" value="Unlikey" style="width: 250px;" onclick="gounlikey()">
                {% endif %}
                {% if not user.is_authenticated %}
                    <input class="btn btn-outline-warning" type="button" value="login" style="width: 250px;" onclick="gologin()">
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>내용 :</th>
            <td class="btd" colspan="3" rowspan="3">
                {{ boardobj.comment }}
                <br><br><br>
                {% if links %}
                    {% for i in links %}
                        <h6><b>{{i}}</b></h6>
                        <iframe height="300px" width="531px" src="{{ i }}"></iframe> <br>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr></tr>
        <tr></tr>

        {% for i in files %}
        <tr>
            <td colspan="4">
                <img style="height: 300px;" src="/media/C%3A/workspace/django/dwm/media/{{i.getimage}}" height="150px">
                <h5><b>{{ i.getfilename }}</b></h5>
            </td>
        </tr>
        <tr>
            
            <td colspan="4">
                <a href="{% url 'board:down' %}?downtarget={{ i.getfile }}"><h5>DOWNLOAD CONTENT</h5></a>
            </td>
        </tr>
        {% empty %}
        {% endfor %}

        <tr>
            <th class="btd">조회수 : </th>
            <td class="btd">{{ boardobj.hits }}</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                <input class="btn btn-outline-dark" type="button " value="BACK" onclick="history_back()">
            </td>
            {% if user.username == boardobj.writerops.username %}
                <td>
                    <input class="btn  btn-outline-primary" type="button" value="MOD" onclick="gomod()">
                </td>
            {% endif %}
        </tr>
    </table>
</div>
<br><br>
<div align="left" style=" margin-left: 1%;">
    <table class="table table-bordered" style="width: 60%;">
        {% if user.is_authenticated %}
        <tr>
            <form action="/board/reply/{{boardobj.id}}" method="post">
                {% csrf_token %}
                <td style="width: 20%;"><button class="btn btn-outline-success">COMMENT</button></td>
                <td style="width: 80%;" colspan="3">
                        <textarea name="reply_comment" cols="60" rows="1"></textarea>
                </td>
            </form>
        </tr>
        {% endif %}
        {% for i in replyobj %}
        <tr>
            <td>{{ i.reply_writerops.nickname }}</td>
            <td style="padding: 0px; margin: 0px;"><img src="/media/{{ i.reply_writerops.photo }}" style="height: 40px; padding: 0px; margin: 0px;"></td>
            <td>{{ i.credate }}</td>
            {% if user.username == i.reply_writerops.username %}
            <td style="width: 10%;"><button class="btn btn-outline-danger" style="height: 25px; width: 35px; margin: 0px; padding: 0px;" onclick="goreplydel('{{ i.id }}')">DEL</button></td>
            {% endif %}
        </tr>
        
        <tr>
            <td colspan="3">{{ i.reply_comment }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div style="height: 60%;"></div>
<script>
    function down(tr) {
        location.href="/board/down/?downtarget="+tr
    }
    function gomod() {
        location.href='/board/mod/{{boardobj.id}}'
    }
    function golikey() {
        location.href='/board/likey/{{boardobj.id}}'
    }
    function gounlikey() {
        location.href='/board/unlikey/{{boardobj.id}}'
    }
    function goreplydel(tr) {
        location.href='/board/reply/del/'+tr+'/{{boardobj.id}}'
    }
    function gologin() {
        location.href='/login/'
    }
    function history_back() {
        history.back()
    }
</script>
<style>
    .btnb {
        margin: 30px;
        padding: 20px;
    }
    .btd {
        text-align: left;
        padding: 30px;
    }
</style>
{% endblock %}