{% extends 'header.html' %}
{% block con %}
{% load mathfilters %}
    
<div  align="left" style=" margin-left: 1%;">

{% if user.is_authenticated %}
<div style="width: 30%; margin-left: 1%;"><a href="{% url 'board:create' %}"><h1>CREATE CONTENT</h1></a></div>
{% else %}
{% endif %}
<br>
<table>
    <tr>
        <td colspan="2">
            <select name="order" style="width: 90%;" id="order">
                <option value="desdate"{%if order == 'desdate'%}selected{%endif%}>내림차순 ID</option>
                <option value="ascdate"{%if order == 'ascdate'%}selected{%endif%}>오름차순 ID</option>
                <option value="desid"{%if order == 'desid'%}selected{%endif%}>내림차순 생성일자</option>
                <option value="ascid"{%if order == 'ascid'%}selected{%endif%}>오름차순 생성일자</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <select name="keyword" style="width: 75%;" id="keyword">
                <option value="subject"{%if keyword == 'subject'%}selected{%endif%}>제목</option>
                <option value="content"{%if keyword == 'content'%}selected{%endif%}>내용</option>
                <option value="writername"{%if keyword == 'writername'%}selected{%endif%}>작성자</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="searchword" id="searchword" value="{{ searchword }}">
        </td>
        <td><input type="submit" class="btn  btn-outline-primary" onclick="moving()"></td>

    </tr>
</table>
<table class="table" border="0" style="width: 80%;">
    <tr>
        <th class="text-center align-middle btd" style="width: 5%;">NO</th>
        <th class="text-center align-middle btd" style="width: 25%;">THUMNAIL</th>
        <th class="text-center align-middle btd" style="width: 15%;">SUBJECT</th>
        <th class="text-center align-middle btd" style="width: 15%;">SUMMARY</th>
        <th class="text-center align-middle btd" style="width: 10%;">HITS</th>
        <th class="text-center align-middle btd" style="width: 30%;" colspan="2">WRITER</th>
    </tr>   
    {% for i in boardobj %}
        {% if i.public == True %}
            <tr>
                <td class="text-center align-middle btd">{{ i.id }}</td> 
                <td class="text-center align-middle btd"><a href="{% url 'board:detail' i.id %}"><img src="{{ i.getthum }}" height="150px"></a></td>
                <td class="text-center align-middle btd" 
                {% for j in likeies%}
                    {% if j.likeyboard.id == i.id  %}
                        style="background-color: yellow;"
                    {% endif %}
                {% endfor %}
                >{{ i.name|truncatewords:8 }}</td>
                <td class="text-center align-middle btd">{{ i.comment|truncatewords:5 }}</td>
                <td class="text-center align-middle btd">{{ i.hits }}</td>
                <td class="align-middle btd">
                    <a href="{% url 'board:userdetail' i.id %}">
                        {% if showsubs %}
                            {% if i.writerops.username in sublist%}
                                <div style="background-color: yellow;">
                                    <img src="/media/{{ i.writerops.photo }}" width="100px">
                                </div>
                            {% else %}
                                <img src="/media/{{ i.writerops.photo }}" width="100px">
                            {% endif %}
                        {% else %}
                            <img src="/media/{{ i.writerops.photo }}" width="100px">
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% elif i.public == False and user.username == i.writerops.username %}
            <tr>
                <td class="text-center align-middle btd">{{ i.id }}</td> 
                <td class="text-center align-middle btd"><a href="{% url 'board:detail' i.id %}"><img src="{{ i.getthum }}" height="150px"></a></td>
                <td class="text-center align-middle btd">{{ i.name|truncatewords:8 }}</td>
                <td class="text-center align-middle btd">{{ i.comment|truncatewords:5 }}</td>
                <td class="text-center align-middle btd">{{ i.hits }}</td>
                <td class="align-middle btd"><img src="/media/{{ i.writerops.photo }}" width="100px"></td>
            </tr>
        {% endif %}
    
    {% empty %}
        <tr>
        {% if kw %}
                <td colspan="5">검색결과가 없습니다</td>
        {% else %}
                <td colspan="5">첫번째 게시글을 작성해주세요</td>
        {% endif %} 
        </tr>
    {% endfor %}
</table>
{% if boardobj.has_previous %}
    <a href="{% url 'board:index' %}?page=1&keyword={{ keyword }}&searchword={{ searchword }}&order= {{ order }}"><button class="btn btn-light" >처음</button></a>
    <a href="{% url 'board:index' %}?page={{ boardobj.previous_page_number }}&keyword={{ keyword }}&searchword={{ searchword }}&order= {{ order }}"><button class="btn btn-light" >이전</button></a>
{% else %}
    <button class="btn btn-light"  disabled>처음</button>
    <button class="btn btn-light" disabled>이전</button>
{% endif %}
{% for i in boardobj.paginator.page_range %}
    {% if i >= boardobj.number|sub:5 and boardobj.number|add:4 >= i %}
        <a href="{% url 'board:index' %}?page={{i}}&keyword={{ keyword }}&searchword={{ searchword }}&order= {{ order }}">
            <button {% if i == boardobj.number %} disabled {% endif %} class="btn btn-light">{{ i }}</button>
        </a>
    {% endif %}
{% endfor %}

{% if boardobj.has_next %}
    <a href="{% url 'board:index' %}?page={{ boardobj.next_page_number }}&keyword={{ keyword }}&searchword={{ searchword }}&order= {{ order }}"><button class="btn btn-light">다음</button></a>
    <a href="{% url 'board:index' %}?page={{ boardobj.paginator.num_pages }}&keyword={{ keyword }}&searchword={{ searchword }}&order= {{ order }}"><button class="btn btn-light">마지막</button></a>
{% else %}
    <button class="btn btn-light" disabled>다음</button>
    <button class="btn btn-light" disabled>마지막</button>
{% endif %}
</div>
<div style="height: 60%;"></div>
<style>
    h1 {
        padding: 10px;
    }
    button{
        margin-left: 10px;
        margin-right: 10px;
    }
    .btd {
        text-align: left;
        padding: 10px;
    }
</style>

<script>
    function moving() {
        var searchword = document.getElementById('searchword');
        var order = document.getElementById('order');
        var keyword = document.getElementById('keyword');
        //console.log(keyword.value)
        //console.log(order.value)
        //console.log(searchword.value)
        location.href='/board/index/?searchword='+searchword.value+"&order="+order.value+"&keyword="+keyword.value

    }
</script>
{% endblock %}