
<style>
    .menu {
        text-decoration: none;
        font-size: 25px;
        color : black;
        font-weight: bold;
        margin-right: 30px;
        padding-right: 30px;
    }
    .app{
        text-decoration: none;
        font-size: 25px;
        color : rgb(0, 38, 255);
        font-weight: bold;
        margin-right: 30px;
    }
    .app:hover{
        color:black;
    }
    .menu:hover{
        color : rgba(7, 73, 253, 0.863);
    }
</style>
{% if user.is_authenticated %}
    <table border="0">

        <tr>
            <td><a href="{% url 'dwm:index' %}" class="menu" >HOME</a></td>
            <td><a href="{% url 'dwm:mod' %}" class="menu">MOD</a></td>
            <td><a href="{% url 'dwm:logout' %}" class="menu">LOGOUT</a></td>
            <td rowspan="4"><img src="{{ user.getphoto }}" height="200px"></td>
        </tr>
        <tr>
            <td colspan="3"><h4>접속중인 계정 : <b>{{ user.nickname }}</b></h4></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br>
{% else %}
    <a href="{% url 'dwm:index' %}" class="menu">HOME</a>
    <a href="{% url 'dwm:login' %}" class="menu">LOGIN</a>
    <a href="{% url 'dwm:join' %}" class="menu">JOIN</a>
    <br>
    <h5>로그인이 필요합니다.</h5>
{% endif %}
<hr>

{% block con %}

{% endblock %}