<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<style>
    .menu {
        text-decoration: none;
        font-size: 25px;
        color : black;
        font-weight: bold;
        margin-right: 30px;
        padding-right: 30px;
    }
    .app{
        text-decoration: none;
        font-size: 25px;
        color : rgb(0, 38, 255);
        font-weight: bold;
        margin-right: 30px;
    }
    .app:hover{
        color:black;
    }
    .menu:hover{
        color : rgba(7, 73, 253, 0.863);
    }
</style>
<table border="0">
{% if user.is_authenticated %}

        <tr>
            <td><a href="{% url 'dwm:index' %}" class="menu" >HOME</a></td>
            <td><a href="{% url 'board:index' %}" class="menu" >BOARD</a></td>
            <td><a href="{% url 'shop:index' %}" class="menu">SHOP</a></td>
            <td rowspan="4"><img src="{{ user.getphoto }}" height="200px"></td>
            <td><a href="{% url 'dwm:mod' %}" class="menu">MOD</a></td>
            <td><a href="{% url 'dwm:logout' %}" class="menu">LOGOUT</a></td>
        </tr>
        <tr>
            <td colspan="3"><h4>접속중인 계정 : <b>{{ user.nickname }}</b></h4></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
{% else %}
        <tr>
            <td><a href="{% url 'dwm:index' %}" class="menu">HOME</a></td>
            <td><a href="{% url 'board:index' %}" class="menu" >BOARD</a></td>
            <td><a href="{% url 'dwm:login' %}" class="menu">LOGIN</a></td>
            <td><a href="{% url 'dwm:join' %}" class="menu">JOIN</a></td>
        </tr>
    <br>
    <h5>로그인이 필요합니다.</h5>
{% endif %}

</table>
<br>
<hr>
<body>
    
    {% block con %}
    
    {% endblock %}
</body>